.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    background-color: #1e293b;
    color: #f8fafc;
    flex: 1;
    padding-bottom: 40px;
}
.newGameButton{
    margin-top: 20px;
    padding: 10px;
    width: 180px;
    background-color: aquamarine;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    cursor: pointer;
}