.key{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #ccc;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
}

.used{
    background-color: #787C7E;
    color: #FFFFFF;
    border: 1px solid #D3D6DA;

}
.enter{
    background-color: #157bad;
    color: #FFFFFF;
    border: 1px solid #D3D6DA;
}
.backSpace{
    background-color: #d54123;
    color: #fff;
    border: 1px solid #D3D6DA;
}