.select {
  position: relative;
  width: 200px;
}

.trigger {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  background-color: gold;
  color: black;
  font-size: 16px;
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: scroll;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  z-index: 999;
  transition: all 0.25s ease;
  height: 150px;
}

.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.option {
  padding: 10px 30px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  width: 100%;
}

.option:hover {
  background-color: #ececec;
}